{% load static %} <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">My shop</a>
</div>
<div id="subheader">
    <div class="cart">{% with total_items=cart|length %} {% if cart|length > 0 %}
        Your cart:
        <a href="{% url "cart_detail" %}">
            {{ total_items }} item{{ total_items|pluralize }},
            {{ cart.get_total_price }} руб. </a>
    {% else %}
        Your cart is empty.
    {% endif %} {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
